version: '3'

services:

  traefik_default:
    container_name: traefik_default
    restart: always
    image: traefik:v1.5.0-rc5
    volumes:
      - ./traefik.toml:/traefik.toml
      - ./acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - '80:80'
      - '443:443'

networks:
  proxy

          docker run -d \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -v $PWD/traefik.toml:/traefik.toml \
      -v $PWD/acme.json:/acme.json \
      -p 80:80 \
      -p 443:443 \
      --network proxy \
      --name traefik_default \
      traefik:v1.5.0-rc5 --docker
